*.class
bin/
build/

.gradle
.ebextensions/
/.classpath

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDEA ###
/.idea
/out/
*.iml

.DS_STORE
.vscode

/.jpb

**/src/main/resources/application-*.yml
**/application.yml


