*.class
bin/
build/
generated/

.gradle
.ebextensions/
/.classpath

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDEA ###
/.idea
/out/
*.iml

.DS_STORE
.vscode

.github/
/.jpb

application-*.yml
application.yml

catalina*


